<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>  <%# 요청이 바뀔 때마다 브라우저 탭의 제목이 바뀜 %>
</head>
<body>
  <%- body %>   <%# 실제 내용이 바뀔 부분 %>
</body>
</html>